.active, .inactive {
    display: block;
    float: left;
    width: 40%;
    position: absolute;
    left: 5%;
    top: 100px;
    height: 50%;
    min-height: 300px;
    background-color: lightblue;
    background-blend-mode: lighten;
    opacity: 0.8;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}

.inactive {
    left: 55%;
}

h2 {
    text-align: center;
}

ul {
    width: 100%;
    text-align: center;
}

ul > li {
    display: inline-block;
}

h1 {
    font-size: 50px;
    text-align: center;
    width: 100%;
}

li > span, li > button{
    display: inline-block;
    width: 20%;
    margin: 2%
}

li {
    width: 100%;
}

button:hover {
    background: lightgray;
}