<!doctype html>

<html lang="en" ng-app="pupils" ng-controller="PupilController">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">

  <base href="/">

  <title>{{title}}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link rel="stylesheet" href="app.css">


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js" type="text/javascript"></script>

  <script src="app.js" type="text/javascript"></script>
</head>

<body>
  <h1 class="header">{{title}}</h1>
  </nav>

  <div class="active" ng-hide="users.length == 0">
    <h2>Active Users</h2>
    <ul ng-repeat="u in users">
      <li><span>{{u.name}}</span> <span>{{u.location}}</span> <span>{{u.role}}</span><button class="btn" ng-click="deactivate(u)">deactivate</button></li>
    </ul>
  </div>

<div class="inactive" ng-hide="inactiveUsers.length == 0">
  <h2>Inactive Users</h2>
  <ul ng-repeat="u in inactiveUsers">
    <li><span>{{u.name}}</span> <span>{{u.location}}</span> <span>{{u.role}}</span><button  class="btn" ng-click="activate(u)">activate</button></li>
  </ul>
</div>
</body>
</html>
